@import 'imports/styles';

// Colors
$primary: $black !default;
$secondary: lighten($turqoise, 10%) !default;
$accent: $nephritis !default;

@import '../components/header/header';
@import '../components/content-area/content-area';
@import '../components/about/about';
@import '../components/range/range';
@import '../components/result/result';


header {
  .back {
    background-image: url('../assets/img/back.png');
  }
  .about {
    background-image: url('../assets/img/info.png');
  }
}
