@import 'imports/styles';

@import '../components/header/header';
@import '../components/content-area/content-area';

// Colors
$primary: $black !default;
$secondary: lighten($turqoise, 10%) !default;
$accent: $yellow !default;

header {
  background-color: $primary;
  color: $off-white;
}
