html,
body {
  height: 100%;
}

.app {
  width: $media-small;
  background-color: $paper;
  margin: auto;
  box-shadow: $space-tiny $space-tiny $space-small $silver;
}

@media screen and (max-width: $media-small) {
  html,
  body {
    background-color: $paper;
  }
  .app {
    padding-top: $space-big;
    border: none;
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
  header {
    position:fixed;
    top: 0;
    width: 100%;
  }
}