// Type
$serif: 'Gentium Book Basic', serif !default;
$sans: 'Work Sans', sans-serif !default;
$font-small: 12px !default;
$font-med: 16px !default;
$font-big: 22px !default;
$font-huge: 40px !default;
$line-height: 130% !default;

// Spacing
$space-big: 40px !default;
$space-med: 20px !default;
$space-small: 10px !default;
$space-tiny: 5px !default;

// Media Queries
$media-med: 1200px !default;
$media-small: 900px !default;
$media-tiny: 520px !default;
